<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-4 col-sm-4 col-lg-4">
      <h2>Profile</h2>
      <p>2015年卒業予定/大学院生。</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-4 col-sm-4 col-lg-4">
      <h2>Recent</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

    </div>
    <div class="col-4 col-sm-4 col-lg-4">
      <h2>ABC</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

  </div>
</div>
</body>
</html>
