</head>
<body>
  {{common_head|safe}}
  <div class="container">
    <h1>Index</h1>
    
    <div class="container">
      <h3>Ajax System</h3>
      <form method="post" id="jquery_practice" action="{{uri_for('postA')}}">
	<input type="text" name="name" value="yamada" id="form_name" /><br />
        <textarea rows="10" cols="120" name="" id=""></textarea><br />
	<button type="submit" value="submit" name="submit" id="form_submit">submit</button><br />
      </form>
    </div>
    <div id="result"></div>
  </div>
{{common_footer|safe}}
