</head>
<body>
  {{common_head|safe}}
  <div class="container">
    <h1>送信テスト</h1>
    <h2>{{test}}</h2>
    <div class="container">
      <h3>Normal Submit</h3>

      <form method="post" id="form_test" action="./postB">
	<input type="text" name="name" value="yamada" id="form_name" />
	<input type="submit" value="submit" name="submit" id="form_submit">submit</button>
      </form>
    </div>
    
    <div class="container">
      <h3>Ajax System</h3>
      <form method="post" id="jquery_practice" action="./postA">
	<input type="text" name="name" value="yamada" id="form_name" />
	<button type="submit" value="submit" name="submit" id="form_submit">submit</button>
      </form>
    </div>
    <div id="result"></div>
    {{debug}}
    {{ uri_for('postA') }}

  </div>
</body> 
</html>
